.list_header {
    font-size: 20px;
    color: #838383;
    margin-bottom: 20px;
}

.itemsContainer {
    display: flex;
    flex-wrap: wrap;
}

.itemCard {
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 407px;
    background-color: white;
    border-radius: 30px;
    padding: 15.07px 18px 26.65px 21.96px;
}

.itemInfo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 54.2px;
    width: 310.04px;
    height: 74px;
}

.itemTitle {
    width: 148px;
    height: 20.97px;
    font-size: 17px;
    color: #1C1C27;
}

.itemPrice {
    width: 59px;
    height: 21px;
    margin-left: 103px;
    font-size: 17px;
    color: #FFA542;
}

.itemPrice:after {
	content: ' \20BD';
}

.itemOldPrice {
    width: 44px;
    height: 15.97px;
    margin-left: 256.04px;
    font-size: 13px;
    color: #FFCE7F;
    text-decoration: line-through;
}

.itemOldPrice:after {
	content: ' \20BD';
}

.itemRateContainer {
    display: flex;
    margin-top: 24.96px;
    width: 60.33px;
    height: 21.97px;
}

.itemRateIcon {
    width: 23.33px;
    height: 21.93px;
}

.itemRate {
    font-size: 17px;
    color: #838383;
    width: 27px;
    height: 20.97px;
    margin-left: 10px;
    margin-top: 4px;
}

.buyItemButton {
    width: 65px;
    height: 21px;
    margin-top: 15.9px;
    margin-left: 184.71px;
    background-color: transparent;
    border: none;
    font-family: Montserrat;
    font-size: 17px;
}

.buyItemButton:hover {
    cursor: pointer;
}